.title {
    font-family: "Playfair Display";
    font-weight: 400 !important;
}
.grey-text {
    color: #aaa;
}
.date {
    color: #ccc;
    font-size: 12px;
}
.error {
    text-align: center;
    margin: 10px 0;
    color: #f12b4c;
}